.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--default-layout-header-heigh);
}

.container {
    display: flex; 
    flex-direction: column;
    width: var(--default-layout-width);
    max-width: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.sidebar {
    overflow: hidden overlay;
    overscroll-behavior-y: contain;
    perspective: 1px;
    transform-style: preserve-3d;
    perspective-origin: right top;
    top: var(--default-layout-header-heigh);
    bottom: 0px;
    width: var(--with-sidebar);
    background: rgb(255, 255, 255);
    position: fixed;
    z-index: 99;
    margin-right: 60px;
    padding-left: 2px;
    // padding-right: 8px;

    /* Ẩn thanh cuộn */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE và Edge */
}

.content {
    flex: 1;
    max-width: calc(100% - var(--with-sidebar) - 60px);
    position: relative;
    left: calc(var(--with-sidebar) + 60px);
    // padding-right: 240px;
}