.wrapper {
    padding: 20px 0;
}

.form {
    .form-group {
        padding: 16px 0;
        display: flex;
        align-items: start;
        flex-wrap: nowrap;
        border-bottom: 1px solid #ccc;

        &.avatar {
            position: relative;
            height: 130px;

            .content {
                position: absolute;
                left: 50%;
                transform: translateX(-48px);
            }
        }

        .label {
            display: block;
            font-weight: 600;
            line-height: 24px;
            font-size: 16px;
            width: 140px;
            margin-right: 24px;
            flex-shrink: 0;
        }

        .content {
            margin-right: 50px;

            input {
                width: 360px;
                height: 38px;
                border-radius: 4px;
                background: rgba(22, 24, 35, 0.06);
                caret-color: rgb(254, 44, 85);
                font-size: 18px;
                color: rgb(22, 24, 35);
                line-height: 24px;
                outline: none;
                border: none;
                padding: 7px 12px;
                box-sizing: border-box;
            
                &:focus {
                    background: rgba(22, 24, 35, 0.06);
                    outline: rgba(22, 24, 35, 0.2) solid 1.5px;
                }
            }
        }
    }
}

.image {
    position: relative;
    width: 9.6rem;
    height: 9.6rem;
    border-radius: 50%;

    .image-url {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    .edit-btn {
        cursor: pointer;
        position: absolute;
        bottom: -6px;
        right: 8%;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #ccc;
    }
}

.url-profile {
    font-size: 14px;
    color: rgba(22, 24, 35, 0.75);
    line-height: 18px;
    margin-top: 12px;
    max-width: 460px;
    overflow: hidden;
}

.note {
    font-size: 15px;
    color: rgba(22, 24, 35, 0.75);
    line-height: 18px;
    max-width: 460px;
    overflow: hidden;
    margin-top: 8px;
    width: 360px;
}

.bio {
    font-family: var(--font-family);
    width: 360px;
    height: 100px;
    font-size: 16px;
    outline: none;
    border: none;
    resize: none;
    padding: 10px;
    border-radius: 4px;

    &:focus {
        background: rgba(22, 24, 35, 0.1);
        outline: rgba(22, 24, 35, 0.2) solid 1.5px;
    }
}

.footer {
    float: right;
    line-height: 36px;
    margin-top: 8px;

    button {
        width: 80px;
        height: 36px;
        padding: 4px 6px;
        border-radius: 4px;
        margin-top: 8px;
        font-size: 1.4rem;
        font-weight: 600;
    }

    .cancel-btn {
        cursor: pointer;
        margin-right: 24px;
        border: 1px solid #ccc;

        &:hover {
            border: 1px solid #969696;
        }
    }

    .save-btn {
        color: #969696;

        &.active {
            cursor: pointer;
            background: var(--primary);
            color: var(--white);

            &:hover {
                border-color: var(--primary);
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #FE2C55;
            }
        }
    }
}