.modal {
    --header-modal: 50px;

    width: 100%;
    height: 100%;
}

.modal-overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    // backdrop-filter: blur(2px);
    animation: showIn ease-in .4s;
}

.modal-content {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    max-width: 100%;
    max-height: 80vh;
    border-radius: 10px;
    background: var(--white);
    animation: show ease-in-out .3s forwards, showIn ease-in .3s;   /* forwards để giữ trạng thái cuối cùng */
}

.modal-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-modal);
    padding: 12px 8px;

    &.partition::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #000;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.modal-title {
    font-size: 2.6rem;
    font-weight: 400;
    height: var(--header-modal);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn {
    height: var(--header-modal);
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-icon {
    cursor: pointer;
    display: block;
    padding: 6px;
    transform: rotate(0deg);
    transition: transform ease-in-out .3s;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        fill: #7e7e7e;
        transition: fill ease-out .2s;
    }
}

.modal-body {
    padding: 28px;
    padding-top: 0;
    max-height: calc(80vh - var(--header-modal));
    overflow-y: overlay;
    position: relative;
    z-index: 1;
}

@keyframes show {
    from {
        transform: translate(-50%, -50%) scale(0.5);
    }
    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes showIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}