.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    position: relative;
    overflow: visible; /* Đảm bảo không cắt phần tử con */
    width: 100%;
    height: calc(100vh - var(--default-layout-header-heigh) - 20px);
    margin: 10px auto;
}

.video-container {
    width: 80%;
    max-width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.video-container > section {
    display: inline-block;
    // display: flex;
    // justify-content: center;
}

.video-item {
    position: relative;
    max-height: 100vh;
    max-width: 100%;
    margin-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    clip-path: inset(0px round 1rem 1rem 1rem 1rem);
}

// Header video
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 36px;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Custumize Sound
.sound {
    display: flex;
    align-items: center;
    justify-content: start;

    &:hover .sound-slider,
    &:hover .sound-wrapper {
        opacity: 1;
        pointer-events: all;
    }
}

.sound-icon {
    cursor: pointer;
    position: absolute;
    left: 10px;
    width: 2.4rem;
    height: 2.4rem;
    color: var(--white);
}

.sound-wrapper {
    display: flex;
    align-items: center;
    width: 86px;
    height: 20px;
    background-color: rgba(201, 201, 201, 0.4);
    margin-left: 32px;
    border-radius: 50px;
    opacity: 0;
}

.sound-slider {
    -webkit-appearance: none;
    width: 70px;
    height: 3px;
    margin-left: 8px;
    background: linear-gradient(
        to right,
        #fff 50%,
        rgba(255, 255, 255, 0.34) 50%
    );
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    position: relative;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 12px;
        height: 12px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        // margin-top: -4px;
    }

    &::before {
        content: '';
        position: absolute;
        top: -8px;
        bottom: -8px;
        left: -5px;
        right: 0;
        background-color: transparent;
    }

    &::-moz-range-thumb {
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;
    }

    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 4px;
        border-radius: 2px;
    }
}

.three-dot-icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    width: 2.4rem;
    height: 2.4rem;
    color: var(--white);
}

.video-url {
    width: 100%;
    max-height: calc(100vh - var(--default-layout-header-heigh) - 40px);
    object-fit: contain;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon-play-pause {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; /* Ẩn mặc định */
    animation: showHide 0.5s ease-in-out;
    pointer-events: none; /* Không ảnh hưởng click */
}

@keyframes showHide {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(2.6);
    }
}

.progress {
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    align-items: center;
    height: 4px;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background 0.3s;
    z-index: 2;
    // clip-path: inset(0px round 0px 0px 1rem 1rem);

    &:hover {
        height: 6px;
        transition: height .2s ease-in;
        background: linear-gradient(to right, #fe2c55, #ffcccc);
    }

    // &:hover::-webkit-slider-thumb {
    //     display: block;
    // }

    // &:hover::-moz-range-thumb {
    //     display: block;
    // }
}

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    display: none;
}

.progress::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    display: none;
}

// Footer video
.footer {
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    padding: 0 12px 12px;
    width: 100%;
    height: 94px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5rem;

    /* Ẩn thanh cuộn */
    scrollbar-width: none;
    -ms-overflow-style: none;

    &.footer-expanded {
        height: 40%;
        background: linear-gradient(
            180deg,
            transparent,
            rgba(22, 24, 35, 0.34)
        );
    }

    .name-date {
        display: inline-block;
        margin-top: auto;
        font-weight: 500;
        line-height: 2;
    }

    .name {
        font-size: 1.6rem;
    }

    .date {
        font-weight: 400;
    }

    .desc-wrapper {
        // display: flex;
        // align-items: flex-start;
        // gap: 8px;
        overflow: hidden;

        .description {
            font-weight: 400;
            line-height: 1.4;
            overflow-y: auto;
            scrollbar-width: none;
            -ms-overflow-style: none;

            &.collapsed {
                -webkit-line-clamp: 1;
                max-height: 20px;
                width: 93%;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &.expanded {
                flex: 1;
                -webkit-line-clamp: unset;
                width: 93%;
                max-height: 100%;
            }
        }

        .toggle-button {
            position: absolute;
            right: 10px;
            bottom: 42px;
            color: #d6d6d4;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            border: none;
            outline: none;
            background: none;
            cursor: pointer;
            height: 21px;
            width: auto;
            text-align: left;
            flex-shrink: 0;

            &:hover {
                color: #e8e5e5;
            }
        }
    }

    .music {
        // margin-top: 6px;
        color: #fff;
        line-height: 2;
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .music-name {
            display: flex;
            align-items: center;
            max-width: 70%;
            overflow: hidden;
            white-space: nowrap;

            &:hover {
                text-decoration: underline;
            }

            .music-icon {
                width: 1.6rem;
                height: 1.6rem;
                fill: #fff;
                margin-right: 4px;
            }
        }

        .thumb-avatar {
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #d6d6d4;
        }
    }
}