.wrapper {
    position: relative;
    width: 400px;
    height: auto;
}

.title {
    text-align: center;
    padding: 0 6px 0;
    margin: 0 0 20px;
    font-size: 2.6rem;
}

.input-group {
    position: relative;
    margin-bottom: 24px;
}

.input-group_input {
    font: inherit;
    color: #000;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 4px;
    outline: 1px solid #000;
    background-color: transparent;
    transition: outline-color 500ms;
}

.input-group_input:is(:focus, :valid) {
    outline-color: #808080;
}

.input-group_label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #000;
    transition: transform 500ms, scale 500ms, top 500ms;
    background-color: transparent;
    background: transparent;
    padding: 0 4px;
}

.input-group_input:focus + .input-group_label,
.input-group_input:valid + .input-group_label {
    top: 6px;
    font-size: 1.8rem;
    transform: translateY(-100%);
    scale: 0.8;
    background-color: #fff;
    padding: 0 4px;
    color: #000;
}

.error {
    color: red;
    font-size: 1.4rem;
    margin-top: -18px;
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: -12px;
}

.sign-up {
    cursor: pointer;
    color: var(--primary);
    text-decoration: underline;
}

.btn-register {
    width: 200px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    .btn-icon {
        width: 200px;
    }

    .loading {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #70717a1f;
        border-radius: 999px;

        .loading-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: spinner 1s linear infinite;
        }
    }
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0deg);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}